# backend/render.yaml
services:
  - type: web
    name: codehunt-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: ROUND1_PASSWORD
        sync: false
      - key: ROUND2_PASSWORD
        sync: false
      - key: ADMIN_PASSWORD
        sync: false